*.jl.cov
*.jl.*.cov
*.jl.mem
/Manifest.toml
/deps/deps.jl
/docs/build
/docs/Manifest.toml
/test/coverage/Manifest.toml
/test/Manifest.toml
/Manifest-v1.10.toml
/Manifest-v1.12.toml
/test/Manifest-v1.10.toml
